.navprojects{
  grid-column: 1 / 3;
  grid-row: 2 / -1;
  border: 2px solid red;
  background-color: #756410;    
}
.navprojects a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}  
.navprojects li {
    list-style-type: none;
  }
  