.content {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    border: 2px solid red;
    background-color: aquamarine;
  }
  .items {
    border: 2px solid blue;
  }
  .items li {
    list-style-type: none;
  }
  .items .item {
    border: 2px solid rgb(136, 21, 88);
    width: 400px;
   }