.site-wrap {
  margin: 5px;
  display: grid; 
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap:5px;
}
.header {
  grid-column: 1 / -1;
  border: 2px solid red;
  background-image: url('../assets/images/header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282c34;
  height: 300px;
  
}
.navbar a {
  color: white;
  margin-right: 10px;
}
.navbar{
  grid-column: 1 / 1;
  grid-row: 2 / -1;
  border: 2px solid red;
  background-color: #756410;
}
.content {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  border: 2px solid red;
  background-color: aquamarine;
}
